.env
.env.*
!.env.example
配置.env

node_modules/
**/node_modules/

.npm-cache/
**/.npm-cache-mobile/

data/
pc-green/data/
pc-green/.env
pc-green-release/

*.log
*.out.log
*.err.log
*-debug-*.log
*-eresolve-report.txt

dist/
build/
unpackage/

.DS_Store
Thumbs.db
